body {
    font-family: 'Roboto', sans-serif;
    color: #343a40 
}

a:hover, a:focus {
    color: #FF4900
}

.navigation-bar{
    background-color: #FF4900;
   
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFAF8;
    margin-right: 15px;
}

.navbar-light .navbar-brand {
    color: #FFFAF8;
    font-size: 25px;
    margin-left: 15px;  
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #FFFBFA;
    
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
     color: #FFFBFA;
     
}

.subtitle {
    color: #FF4900 
}

.sub-subtitle {
    color: #FF7239;
}

.btn-primary:hover {
    color: #FFFBFA;
    background-color: #FF7239;
    border-color: #FFFBFA;
}

.show > .btn-primary.dropdown-toggle, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    color: #FFFBFA;
    background-color: #FF7239;
    border-color: #FFFBFA;
}


.navbar-light .navbar-toggler {
    border-color: #FFFAF8
}


.cards-styling {
    background-color: #FFFAF8;
    
}

.footer-style {
    background-color: #FFFBFA;
    color: #FF7239
}


footer.footer.mt-auto.py-3.text-center{ 
   border-top:  1px solid rgba(0, 0, 0, 0.125);
    // border-top: 2px solid
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFBFA;
    background-color: #FF4900;
}

a {
    color: #FF7239;
    
}

.btn-primary {
    color: #FFFBFA;
    background-color: #FF4900;
    border-color: #FFFBFA;
}

.btn-link:hover {
    color: #FF4900;
    
}

.profile-arrow-color {
    color: #FF7239;
}

.profile-left {
    @media screen and (min-width: 767px){
        // border-right: 1px solid; 
        border-right: 1px solid rgba(0, 0, 0, 0.125);
        background-color: #FFFAF8
        
    }
    
    img{
        max-width: 160px;
        width: 100%;
    }

}

footer i {
    font-size: 1.25rem;
}

// .profile-right {margin-left: 5vh}

.info-col{
    max-width: 100%;
}

.login-link {
    width: 100px;
}

.cards-wrapper{
    margin-top: 3vh
}

.card-deck{
    margin-right: 15px;
    margin-left: 15px;
}

.card-img, .card-img-top {
    padding-top: 15px
}

// .profile-info {
//     
// }

.profile-field {
    margin-bottom: 0px;
}

.link-profile:hover {
    text-decoration: none
}

.profile-image-footer {
    padding: 0.5rem 1rem;
}

.app-mission {
    margin-top: 15vh;
    z-index: 20;
}

.app-options {
    margin-top: 15vh;
    margin-bottom: 10vh
}

.app-options-icons {
    font-size: 60px;
    color: #FF4900
}

.video-wrapper video {
    width: 100%;
    z-index: 10;
    object-fit: cover;

}

.reset-password{
    padding: 0
}

.username-edit {
    padding-left: 5px
}

.title-selector {
    padding: 5px
}

.title-selector input {
    margin: 5px
}

.video-container {
    max-height: 600px
}

.post-filebutton {
    width: 100px;
    margin: 5px auto;
}

.edit-buttonfile {
    width: 44px;
    margin: 7px
}

.list-group-item-light.list-group-item-action.active {
    color: #818182;
    background-color: #fdfdfe;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.profile-right {
    margin: 0 auto;
}

.profile-info-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 25px;
    
    background-color: #FFFAF8;
}

.view-file-button {
    margin-top: 10px;
}

.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #818182;
    background-color: #FFFAF8;
    border: none
}

.favorite {
    font-size: 30px;
    color: #FF4900;
}

// students files 
// .student-files{
//     background-color: #FFFAF8; 
// }

// .image-avatar-width {
//     object-fit: fill
// }

// .appointment-details ::before{
//     box-sizing: content-box;
// }

// homepage 

.col-12.col-sm-4.m-auto.pb-2.info-col.text-dark.cards-styling.card {
    border: none;
}

// alerts
.alert {
    margin-bottom: 0
}
