body {
    font-family: 'Roboto', sans-serif;
}

footer.footer.mt-auto.py-3.text-center{ 
    border-top: 2px solid
}

.profile-left {
    @media screen and (min-width: 767px){
        border-right: 1px solid; 
    }
    
    img{
        max-width: 160px;
        width: 100%;
    }

}

footer i {
    font-size: 1.25rem;
}

// .profile-right {margin-left: 5vh}

.info-col{
    max-width: 100%;
}

.login-link {
    width: 100px;
}

.cards-wrapper{
    margin-top: 3vh
}

.card-deck{
    margin-right: 15px;
    margin-left: 15px;
}

.card-img, .card-img-top {
    padding-top: 15px
}

// .profile-info {
//     
// }

.profile-field {
    margin-bottom: 0px;
}

.link-profile:hover {
    text-decoration: none
}

.profile-image-footer {
    padding: 0.5rem 1rem;
}

.video-wrapper video {
    width: 100%;
    z-index: 10;
    object-fit: cover;
}

.reset-password{
    padding: 0
}
