// .tittleVideo{
//     color: blue;
// }
// .video-container{
//     height: 300px;
//     width: 800px;
//     background-color: #F0F8FF;
// }

.md-form{
        background-color: #F0F8FF;

}
.file-field-file{
    margin-top: 100px;
}

.comments-box{
    margin-top: 60px;
}

.cancel-button{

    margin-right: 15px;
    margin-top: 15px;

    padding-right: 20px;
    padding-left: 20px;

}

.upload-button{
     padding-right: 20px;
    padding-left: 20px;
}

.comments-box{
    
    height: 55.984px;
    width: 307.984px;

}
